"*":
  "atom-beautify":
    general:
      _analyticsUserId: "50b04dc5-cac8-4ff3-8f5e-995eab8fc4be"
    php:
      cs_fixer_path: "/usr/local/bin/php-cs-fixer"
    sql:
      identifiers: "lower"
      indent_size: 2
      keywords: "lower"
  "autocomplete-plus": {}
  core:
    telemetryConsent: "limited"
    themes: [
      "nord-atom-ui"
      "nord-atom-syntax"
    ]
  editor:
    autoIndentOnPaste: false
    invisibles: {}
  emmet: {}
  "exception-reporting":
    userId: "cd5734c5-c324-bffc-9bf7-c2f3615272de"
  hidpi:
    scaleFactor: 1.3
  "linter-htmlhint": {}
  "linter-rust":
    cargoCommand: "check"
  minimap: {}
  "one-dark-ui": {}
  "split-diff":
    diffWords: true
    ignoreWhitespace: true
    leftEditorColor: "red"
    rightEditorColor: "green"
    scrollSyncType: "Vertical + Horizontal"
  "standard-formatter":
    formatOnSave: true
  "tree-view": {}
  welcome:
    showOnStartup: false
