packages: [
  "atom-beautify"
  "atom-ternjs"
  "autocomplete"
  "autocomplete-modules"
  "autocomplete-paths"
  "busy-signal"
  "city-lights-syntax"
  "clipboard-history"
  "editorconfig"
  "file-icons"
  "highlight-selected"
  "hyperclick"
  "indent-guide-improved"
  "intentions"
  "js-hyperclick"
  "language-babel"
  "language-docker"
  "language-elixir"
  "language-nginx"
  "language-nunjucks"
  "linter"
  "linter-csslint"
  "linter-eslint"
  "linter-ui-default"
  "markdown-preview-plus"
  "merge-conflicts"
  "minimap"
  "node-requirer"
  "nord-atom-syntax"
  "package-sync"
  "pigments"
  "prettier-atom"
  "split-diff"
]
