packages: [
  "atom-beautify"
  "atom-ternjs"
  "autocomplete"
  "autocomplete-modules"
  "autocomplete-paths"
  "busy-signal"
  "city-lights-syntax"
  "docblockr"
  "editorconfig"
  "file-icons"
  "highlight-selected"
  "indent-guide-improved"
  "intentions"
  "language-babel"
  "language-docker"
  "language-dotenv"
  "language-elixir"
  "language-glsl"
  "language-markdown"
  "language-nginx"
  "language-nunjucks"
  "language-pgsql"
  "language-postcss"
  "language-pug"
  "linter"
  "linter-csslint"
  "linter-eslint"
  "linter-ui-default"
  "markdown-preview-plus"
  "minimap"
  "nord-atom-syntax"
  "package-sync"
  "pdf-view"
  "prettier-atom"
  "sort-lines"
]
